* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(1, 1, 36);
  color: white;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(6, 7, 58);
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin: 0 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgb(169, 169, 235);
  font-size: 1.02rem;
}
.left {
  font-size: 1.8rem;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.firstSection > div {
  margin: 60px 0;
  width: 35%;
}
.leftSection {
  font-size: 2.5rem;
  
  /* background-color: red;; */
}
.leftSection .btn{
  background-color: #31315f;
    color: white;
    border: 2px solid white;
    font-size: 1.5rem;
    border-radius: 7px;
    padding: 5px;
    margin-left:10px;
}
.leftSection .btn:hover{
  font-size:1.53rem;
  cursor:pointer;
}
.rightSection img {
  width: 80%;
  margin: 10px;
}
#element {
  color: rgb(124, 37, 206);
}
main hr {
  border: 0;
  height: 1.2px;
  background: rgb(202, 202, 240);
  margin: 40px 84px;
}
.secondSection {
  margin: 0 100px;
  height: 50vw;
}
.secondSection h1 {
  font-size: 1.8rem;
}

.secondSection .box {
  background: white;
  height: 2px;
  width: 50vw;
  margin: 30vh;
  margin-left: 16vw;
  display: flex;
  justify-content: space-around;
}
.secondSection .box .vertical {
  background-color: white;
  width: 2px;
  height: 75px;
  margin-left:40px;
}
.secondSection .vertical-image {
  width: 180px;
  position: relative;
  top: -79px;
  left: -87px;
}
.secondSection .vertical-image1 {
    width: 180px;
    height:65px;
    position: relative;
    top: -79px;
    left: -87px;
  }

.secondSection .vertical-title {
    position: relative;
    top: 15px;
    font-size: 1.3rem;
    width: 250px;
    margin-left: -80px;
}
.secondSection .vertical-desc {
    margin: 30px;
    margin-left: -80px;
    width: 280px;
    color:rgb(163, 151, 151);
    font-size:0.8rem
}

footer{
  background-color: rgb(19, 19, 30);
  

}
.footer{
  padding:20px;
  display:flex;
  justify-content:space-around;
}
.footer ul{
  list-style: none;
  
}
.footer ul li a{
  text-decoration: none;
  color:rgb(189, 171, 171);
}
.footer > div{
  width:250px;
}

.footer .footerFirst span{
  font-size: 1.5rem;
}
.footer .footerSecond li:hover{
  font-size:1.02rem;
}
.footer .footerThird{
  display:flex;
  align-items: center;
  margin-left:-250px;

}
.footer .footerThird ul{
  display:flex;
}
.footer .footerThird ul li{
 margin-left: 50px;
 font-size: 2rem;
}

.footer .footerThird ul li:hover{
  font-size:2.02rem;
  cursor: pointer;
 }
footer .footerFourth{
  text-align:center;
  color:rgb(221, 206, 206);
  padding:10px 0;
  font-size:0.8rem;
}
.purple {
  color: rgb(124, 37, 206);
}
.text-gray {
  color: rgb(189, 171, 171);
}